<div class="login typewriter">
  <h1>This league is poop and so is <%= ApplicationHelper::THE_USERS.sample %>'s <%= ApplicationHelper::THE_BURNS.sample %>!</h1>
</div>

<div class="loginform col-sm-4">
  <%= simple_form_for :session do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.button :submit, "Log In!", class: "btn btn-info" %>
  <% end %>
</div>