<div class="login typewriter">
  <h1>This league is poop and so is <%= ApplicationHelper::THE_USERS.sample %>'s <%= ApplicationHelper::THE_BURNS.sample %>!</h1>
</div>

<div class="text-xl px-4 py-4">
  <%= simple_form_for :session, html: {class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"} do |f| %>
    <%= f.input :email,
                input_html: {class: "shadow appearance-none border rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline max-w-md"},
                label_html: {class: "block text-gray-700 text-sm font-bold mb-2"} %>
    <%= f.input :password,
                input_html: {class: "shadow appearance-none border rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline max-w-md"},
                label_html: {class: "block text-gray-700 text-sm font-bold mb-2"} %>
    <%= f.button :submit, "Log In!", class: "bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded mt-2" %>
  <% end %>
</div>

<div class="forgot-pass">
  <p><%= link_to 'Forgot password?', new_password_reset_path %></p>
</div>