<div class="home-header text-3xl px-4 pb-4">
  <span class="underline-blue"> <%= @member.full_name %></span>
</div>

<%= form_tag(
  @form_path,
  method: "get",
  class: "flex flex-wrap mb-6 py-4",
  data: {
    controller: "filter",
    filter_target: "form",
    turbo_frame: "games_table"
  }  
) do %>
  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:year, nil, class: "pr-2") %>
    <%= select_tag(
      :year,
      options_for_select(@member.seasons.pluck(:year).sort, params[:year]),
      class: "rounded px-3 py-2",
      include_blank: "All",
      data: {
        action: "change->filter#search"
      }
    ) %>
  </div>

  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:week, nil, class: "pr-2") %>
    <%= select_tag(
      :week_number,
      options_for_select(@available_weeks.sort, params[:week_number]),
      class: "rounded pl-3 pr-8 py-2",
      include_blank: "All",
      data: {
        action: "change->filter#search"
      }
    ) %>
  </div>

  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:opponent, nil, class: "pr-2") %>
    <%= select_tag(
      :opposing_player,
      options_for_select(@game_opponents.collect { | member | [member.full_name, member.id] }.sort,
      params[:opposing_player]),
      class: "rounded px-3 py-2",
      include_blank: "All",
      data: {
        action: "change->filter#search"
      }
    ) %>
  </div>

  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:game_type, nil, class: "pr-2") %>
    <%= select_tag(
      :game_type,
      options_for_select(["Regular", "Playoffs"],
      params[:game_type]),
      class: "rounded px-3 py-2",
      include_blank: "All",
      data: {
        action: "change->filter#search"
      }
    ) %>
  </div>

  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:win_loss, nil, class: "pr-2") %>
    <%= select_tag(
      :win_loss,
      options_for_select(["Win", "Loss"],
      params[:win_loss]),
      class: "rounded px-3 py-2",
      include_blank: "All",
      data: {
        action: "change->filter#search"
      }
    ) %>
  </div>

  <%= hidden_field_tag(:viewed_member, @member.id) %>
<% end %>