<% if current_member %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark typewriter">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#statAppNav" aria-controls="statAppNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="statAppNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 offset-md-1">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Players", league_members_path(@league_id), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Seasons", league_seasons_path(@league_id), class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-target="#navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recordbook
          </a>
          <div class="dropdown-menu" id="navbarDropdown">
            <a><%= link_to "Single Game", league_recordbook_game_path(@league_id), class: "dropdown-item" %></a>
            <a><%= link_to "Season", league_recordbook_season_path(@league_id), class: "dropdown-item" %></a>
            <a><%= link_to "All Time", league_recordbook_all_time_path(@league_id), class: "dropdown-item" %></a>
          </div>
        </li>
        <li class="nav-item"><%= link_to "Logout!", logout_path, method: :delete, class: "nav-link" %></li>
      </ul>
    </div>
  </nav>
<% end %>
