<div class="flex justify-center w-full py-1 gap-1 mt-4">
  <span class="rounded-full bg-slate-400 h-2 w-2"></span>
  <span class="rounded-full bg-slate-400 h-2 w-2"></span>
  <span class="rounded-full bg-slate-400 h-2 w-2"></span>
  <span class="rounded-full bg-slate-400 h-2 w-2"></span>
  <span class="rounded-full bg-slate-400 h-2 w-2"></span>
</div>

<div id="carosel" class="flex justify-center my-1 mb-2 pb-2">
  <div class="w-64 carousel rounded-box shadow-2xl">
    <div class="carousel-item w-full">
      <%= image_tag("screenshots/games_index.png") %>
    </div>
    <div class="carousel-item w-full">
      <%= image_tag("screenshots/single_game_records.png") %>
    </div>
    <div class="carousel-item w-full">
      <%= image_tag("screenshots/all_time_records.png") %>
    </div>
    <div class="carousel-item w-full">
      <%= image_tag("screenshots/players_index.png") %>
    </div>
    <div class="carousel-item w-full">
      <%= image_tag("screenshots/seasons_index.png") %>
    </div>
  </div>
</div>