<div class="typewriter home-header text-3xl px-4 pb-4">
  <span class="underline-blue"> <%= current_member.full_name %></span>
</div>

<%= form_tag(root_path, method: "get", class: "flex flex-wrap mb-6 py-4") do %>
  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:year, nil, class: "pr-2") %>
    <%= select_tag(:year, options_for_select(current_member.seasons.pluck(:year).sort, params[:year]), class: "rounded px-3 py-2", include_blank: "All") %>
  </div>

  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:week, nil, class: "pr-2") %>
    <%= select_tag(:week_number, options_for_select(@available_weeks.sort, params[:week_number]), class: "rounded pl-3 pr-8 py-2", include_blank: "All") %>
  </div>

  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:opponent, nil, class: "pr-2") %>
    <%= select_tag(:opposing_player, options_for_select(@game_opponents.collect { | member | [member.full_name, member.id] }.sort, params[:opposing_player]), class: "rounded px-3 py-2", include_blank: "All") %>
  </div>

  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:game_type, nil, class: "pr-2") %>
    <%= select_tag(:game_type, options_for_select(["Regular", "Playoffs"], params[:game_type]), class: "rounded px-3 py-2", include_blank: "All") %>
  </div>

  <div class="filter-item pr-4 mt-2">
    <%= label_tag(:win_loss, nil, class: "pr-2") %>
    <%= select_tag(:win_loss, options_for_select(["Win", "Loss"], params[:win_loss]), class: "rounded px-3 py-2", include_blank: "All") %>
  </div>

  <%= hidden_field_tag(:viewed_member, current_member.id) %>

  <%= submit_tag("Filter", class: "bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded mt-2") %>
<% end %>

<table class="table mb-6 shadow">
  <thead class="thead-dark typewriter bg-gray-300 border-b-2 border-gray-500">
    <th class="px-5 py-2 text-xs text-gray-800">Wins</th>
    <th class="px-5 py-2 text-xs text-gray-800">Losses</th>
    <th class="px-5 py-2 text-xs text-gray-800">Win %</th>
    <th class="px-5 py-2 text-xs text-gray-800">Avg Score</th>
    <th class="px-5 py-2 text-xs text-gray-800">Avg Foe Score</th>
  </thead>

  <tr class="typewriter bg-gray-50">
    <td class="px-5 py-2"><%= @wins %></td>
    <td class="px-5 py-2"><%= @losses %></td>
    <td class="px-5 py-2"><%= @win_loss %></td>
    <td class="px-5 py-2"><%= @avg_score %></td>
    <td class="px-5 py-2"><%= @avg_opponent_score %></td>
  </tr>
</table>

<table class="table typewriter border-collapse shadow mb-10">
  <thead class="bg-gray-300 border-b-2 border-gray-500">
    <th class="px-4 py-2 text-xs text-gray-800">Year</th>
    <th class="px-2 py-2 text-xs text-gray-800">W</th>
    <th class="px-4 py-2 text-xs text-gray-800">Game</th>
    <th class="px-1 py-2 text-xs text-gray-800">Me</th>
    <th class="px-1 py-2 text-xs text-gray-800">Foe</th>
    <th class="px-6 py-2 text-xs text-gray-800">Opponent</th>
  </thead>
  <% @games.each do |game| %>
    <tr class="typewriter p-2 <%= game.win_or_loss(current_member) == "Win" ? "bg-green-50 border-b-2 border-green-200" : "bg-red-50 border-b-2 border-red-200" %>">
      <td class="px-4 py-2"><%= game.week.season.year %></td>
      <td class="px-2 py-2"><%= game.week.number %></td>
      <td class="px-4 py-2"><%= game.game_type %></td>
      <td class="px-1 py-2"><%= game.my_score(current_member) %></td>
      <td class="px-1 py-2"><%= game.opponent_score(current_member) %></td>
      <td class="px-6 py-2"><%= game.opponent(current_member) %>
    </tr>
  <% end %>
</table>
