<h1 class="typewriter home-header"><%= current_user.full_name %></h1>

<%= form_tag(root_path, method: "get", class: "filter-bar") do %>
  <div class="filter-item col-sm-12">
    <%= label_tag(:year, nil, class: "filter-label") %>
    <%= select_tag(:year, options_for_select(current_user.seasons.pluck(:year).sort, params[:year]), class: "sort-menu-item", include_blank: "All") %>
  </div>

  <div class="filter-item col-sm-12">
    <%= label_tag(:week, nil, class: "filter-label") %>
    <%= select_tag(:week_number, options_for_select(@available_weeks.sort, params[:week_number]), class: "sort-menu-item", include_blank: "All") %>
  </div>

  <div class="filter-item col-sm-12">
    <%= label_tag(:opponent, nil, class: "filter-label") %>
    <%= select_tag(:opposing_player, options_for_select(@game_opponents.collect { | user | [user.full_name, user.id] }.sort, params[:opposing_player]), class: "sort-menu-item", include_blank: "All") %>
  </div>

  <div class="filter-item col-sm-12">
    <%= label_tag(:game_type, nil, class: "filter-label") %>
    <%= select_tag(:game_type, options_for_select(["Regular", "Playoffs"], params[:game_type]), class: "sort-menu-item", include_blank: "All") %>
  </div>

  <div class="filter-item col-sm-12">
    <%= label_tag(:win_loss, nil, class: "filter-label") %>
    <%= select_tag(:win_loss, options_for_select(["Win", "Loss"], params[:win_loss]), class: "sort-menu-item", include_blank: "All") %>
  </div>

  <%= hidden_field_tag(:viewed_user, current_user.id) %>

  <%= submit_tag("Filter", class: "btn btn-info") %>
<% end %>

<table class="table col-md-7 col-sm-10">
  <thead class="thead-dark typewriter">
    <th>Wins</th>
    <th>Losses</th>
    <th>Win %</th>
    <th>Avg Score</th>
    <th>Avg Opponent Score</th>
  </thead>

  <tr class="typewriter">
    <td><%= @wins %></td>
    <td><%= @losses %></td>
    <td><%= @win_loss %></td>
    <td><%= @avg_score %></td>
    <td><%= @avg_opponent_score %></td>
  </tr>
</table>

<table class="table col-md-10 col-sm-12">
  <thead class="thead-dark typewriter">
    <th>Year</th>
    <th>W</th>
    <th>H/A</th>
    <th>Game Type</th>
    <th>My Score</th>
    <th>Foe Score</th>
    <th>Opponent</th>
    <th>W/L</th>
  </thead>
  <% @games.each do |game| %>
    <tr class="typewriter">
      <td><%= game.week.season.year %></td>
      <td><%= game.week.number %></td>
      <td><%= game.home_or_away(current_user) %></td>
      <td><%= game.game_type %></td>
      <td><%= game.my_score(current_user) %></td>
      <td><%= game.opponent_score(current_user) %></td>
      <td><%= game.opponent(current_user) %>
      <td><%= game.win_or_loss(current_user) %></td>
    </tr>
  <% end %>
</table>
